.science-articles-nav .navbar-header {
    text-align: center;
}

.science-articles-nav .navbar-toggle {
    float: none;
    margin: 1em;
}

.science-articles-nav .menu-item {
    text-transform: uppercase;
}

.science-articles-nav .navbar-nav > .menu-item {
    margin-right: 30px;
}

.science-articles-nav .nav > .menu-item > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.science-research-header {
    margin-bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.science-research-header h2 {
    background: none !important;
    text-align: center;
    padding: 2em 1em !important;
    font-size: 48px;
    color: white;
}

.science-articles-grid.dmbs-main {
    background-color: #f4f4f4;
    padding-top: 20px;
}

article.science_article {
    background-color: white;
    padding: 0;
    margin: 15px;
}

@media screen and (max-width: 767px) {
    .science-articles-nav { padding: 0 30px; }

    .science-articles-nav .navbar-nav > li > a { padding-left: 10px; }

    .science-articles-nav #searchform #s {
        display: inline-block;
        width: 75%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .science-articles-nav #searchform [type="submit"] {
        height: auto;
        padding: 6px !important;
        position: relative;
        top: 6px;
    }
}

@media screen and (min-width: 768px) {
    article.science_article {
        width: calc(33.33333333% - 30px);
    }
}

h2.science-term-header {
    margin-top: 1em;
    color: rgba(0,0,0,0.7);
}

.science-articles-grid .science_article h3,
.science-articles-grid .science_article p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.science-articles-grid .science_article h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.science-articles-grid .science_article a {
    color: #004b8b;
}

.science-articles-grid .science_article a[target="_blank"]:after {
    display: inline-block;
    content: '';
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#004B8B" d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm5.371 7.922l.754 7.046-2.104-1.705s-5.734 4.895-12.107 1.775c4.939-.349 8.48-4.712 8.48-4.712l-2.041-1.652 7.018-.752z"/></svg>') center / contain;
    width: .7em;
    height: .7em;
    margin-left: .3em;
}

.science-articles-grid .meta {
    font-size: 80%;
    margin-bottom: 0;
    padding: 0;
}

.science_article .meta span:not(:last-child):after {
    display: inline-block;
    content: ', ';
    margin-right: .333em;
    font-style: normal;
}

.science_article .journal-name {
    font-style: italic;
}

.science-articles-grid .excerpt {
    margin-top: 20px;
}

.science-articles-grid p.read-more {
    border-top: 1px solid #f4f4f4;
    margin: 0 30px;
    padding: 15px 0;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
}

@media (min-width: 768px) {
    .science-articles-nav .navbar {
        margin-bottom: 0;
    }

    .science-articles-nav .navbar-nav {
        float: none;
    }

    .science-articles-nav .container {
        padding: 0 45px;
    }

    .science-articles-nav li.search {
        float: right;
        padding: 20px 0;
    }

    .science-articles-nav #searchform {
        margin-bottom: 0;
    }

    .science-articles-nav #searchform #s {
        display: inline-block;
        -webkit-transition: width .3s ease;
        transition: width .3s ease;
        float: right;
        width: 50%;
    }

    .science-articles-nav #searchform #s:focus,
    .science-articles-nav #searchform #s:active {
        width: 100%;
    }

    .science-articles-nav #searchform input[type="submit"] {
        display: none !important;
    }
}
