@media (min-width: 768px) {
    .science-articles-nav .navbar {
        margin-bottom: 0;
    }

    .science-articles-nav .navbar-nav {
        float: none;
    }

    .science-articles-nav .container {
        padding: 0 45px;
    }

    .science-articles-nav li.search {
        float: right;
        padding: 20px 0;
    }

    .science-articles-nav #searchform {
        margin-bottom: 0;
    }

    .science-articles-nav #searchform #s {
        display: inline-block;
        transition: width .3s ease;
        float: right;
        width: 50%;
    }

    .science-articles-nav #searchform #s:focus,
    .science-articles-nav #searchform #s:active {
        width: 100%;
    }

    .science-articles-nav #searchform input[type="submit"] {
        display: none !important;
    }
}

.science-articles-nav .navbar-toggle {
    float: left;
    margin-left: 45px;
}

.science-articles-nav .menu-item {
    text-transform: uppercase;
}

.science-articles-nav .navbar-nav > .menu-item {
    margin-right: 30px;
}

.science-articles-nav .nav > .menu-item > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.science-research-header {
    margin-bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.science-research-header h2 {
    background: none !important;
    text-align: center;
    padding: 2em 1em !important;
    font-size: 48px;
    color: white;
}

.science-articles-grid.dmbs-main {
    background-color: #f4f4f4;
    padding-top: 20px;
}

article.science_article {
    background-color: white;
    padding: 0;
    margin: 15px;
}

@media (min-width: 768px) {
    article.science_article {
        width: calc(33.33333333% - 30px);
    }
}

h2.science-term-header {
    margin-top: 1em;
    color: rgba(0,0,0,0.7);
}

.science-articles-grid .science_article h3,
.science-articles-grid .science_article p {
    padding: 15px;
    text-align: center;
}

.science-articles-grid .science_article h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.science-articles-grid .science_article a {
    color: #004b8b;
}

.science-articles-grid .treatment-terms {
    font-size: 80%;
    margin-bottom: 0;
    padding: 0;
}

.science-articles-grid p.read-more {
    border-top: 1px solid #f4f4f4;
    margin: 0 30px;
    padding-right: 0;
    padding-left: 0;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
}
